{% if theme == '' %}
    <br>
{% else %}
    {% load static %}
    <!doctype html>
    <html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ theme.title }}</title>
        <style>
            * {
                font-family: Vazir, sans-serif;
                background-color: yellow;
            }
        </style>
    </head>
    <body dir="rtl">
    <h2>{{ theme.name_template }}</h2>
    <p>{{ theme.description }}</p>
    </body>
    </html>
{% endif %}